home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .home__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
  }
  
  .home__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
  }
  
  .home__header a:hover {
    text-decoration: underline;
  }
  
  .home__headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 13vw;
  }
  
  .home__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
  }
  
  .home__body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
  }
  /*object-fit: contain;*/
  .home__body > img {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .home__inputContainer {
    display: flex;
    flex-direction: column;
  }
  .books{
      color:rgb(56, 138, 56);
      font-weight: bold;
  }
  .headerLeft{
      color:rgb(22, 162, 209);
      font-size: 40px;
  }
  .app{
      color:rgb(27, 178, 228);
  }
  @media screen and (max-width: 750px) {
  
  .search {
      max-width: 560px;
  }
  .home__body > img {
    object-fit: contain;
    height: 70px;
    
  }
  .home__body{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  
  }